.btn {
    background-color: $yellowColor;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100px;
    height: 34px;
    padding: 4px 15px;

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: #FFE302;
        }
    }

    &:disabled {
        background-color: #B4B4B4;
        color: #fff;
    }
}