@use "sass:math";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css?family=Nunito:regular&display=swap");


// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Nunito";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: rgba(0, 0, 0, 0.87); // Цвет шрифта по умолчанию
$yellowColor: #F4E041;
$blueColor: #00BDD3;
$bodyColor: #F8F8F8;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 2560;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;

// Общий отступ у контейнера
// (120 = по 60px слева и справа, 0 = нет отступа)
$containerStartPadding: 120;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerStartPadding;

$pc: $containerWidth + px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 1024px;
$mobile: 768px;
$smallMobile: 360px;

//========================================================================================================================================================

@import "./null.scss";


//========================================================================================================================================================
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    box-sizing: content-box;

    @media (max-width:$mobile) {
        padding: 0 16px;
    }

    @media (min-width:$mobile) {
        padding: 0 32px;
    }

    @media (min-width:$tablet) {
        padding: 0 60px;
    }
}


body {
    background-color: $bodyColor;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@import './header.scss';
@import './mainbanner.scss';
@import './GetBlock.scss';
@import './PostBlock.scss';

@import './common.scss';